<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5043243303-f2h0cm0ndg695hkpu2908ss99bv7ppqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5043243303-f2h0cm0ndg695hkpu2908ss99bv7ppqn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5043243303-q5d1nhsiaahliu06nlacg126r4betidn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0W5ZbLi42qnPEDOLrbCASASQQXnUDbzk</string>
	<key>GCM_SENDER_ID</key>
	<string>5043243303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NwPlus.NwNFC</string>
	<key>PROJECT_ID</key>
	<string>nwhacks-2019-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nwhacks-2019-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5043243303:ios:0ff98f14af4a581a</string>
	<key>DATABASE_URL</key>
	<string>https://nwhacks-2019-dev.firebaseio.com</string>
</dict>
</plist>